<%= form_for(@neighbourhood) do |f| %>
  <% if @neighbourhood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@neighbourhood.errors.count, "error") %> prohibited this neighbourhood from being saved:</h2>

      <ul>
      <% @neighbourhood.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" id="wysihtml5">
    <%= f.label :name, "Add Neighbourhood" %>
    <%= f.text_field :name, data: {autocomplete_source: neighbourhoods_path}, class: "form-control" %>
    <span class="help-block">e.g. Taman Tun Dr Ismail, Pandan Indah, PJS 7 Subang Jaya, USJ 11, Taman Bukit Maluri, Taman Overseas Union</span>
  </div>

  <div class="form-group" id="wysihtml5">
    <%= f.collection_select(:municipal_id, Municipal.all, :id, :name_acronym, {:include_blank => "Select Local Government"}, {:class=>'form-control'}) %>
    <span class="help-block">e.g. MPAJ, DBKL, MPSJ, MPPJ</span>
  </div>

  <div class="form-group">
    <%= f.submit "Add Neighbourhood", class: "btn btn-primary" %>
  </div>
<% end %>