<div class="blur-background" id="pages">
  <div class="container">

    <div class="col-sm-3">
      <div class="panel panel-default login-signup-box">
        <div class="panel-heading">
          <%= @user.first_name %> <%= @user.last_name %>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#profile" data-toggle="tab">User Profile</a></li>
            <li><a href="#account" data-toggle="tab">Account Settings</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-1"></div>
    
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="profile">
        <div class="col-sm-6">
          <div class="panel panel-default login-signup-box">
            <div class="panel-heading">
              <div class="panel-title">
                <h1>Edit <%= resource_name.to_s.humanize %></h1>
              </div>
            </div>
            <div class="panel-body">
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
                <%= devise_error_messages! %>

                <%= image_tag @user.avatar.url(:thumb), width: "100", class: "img-circle" %>
                <%= f.label "Profile Picture" %>
                <%= f.file_field :avatar %>
                <p class="help-block"><small>Ideal size: 200px x 200px, JPG/PNG/GIF no larger than 2mb</small></p>

                <div class="form-group">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, class: "form-control", :autofocus => true %>
                </div>

                <div class="form-group">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, class: "form-control", :autofocus => true %>
                </div>

                <div class="form-group">
                  <%= f.label :location %>
                  <%= f.text_field :location, class: "form-control", placeholder: "City", :autofocus => true %>
                </div>
            </div>

            <div class="panel-footer">
                <div class="form-group">
                  <%= f.submit "Update", class: "btn btn-primary" %>
                </div>

                <%= link_to "Back", :back %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="account">
        <div class="col-sm-6">
          <div class="panel panel-default login-signup-box">
            <div class="panel-heading">
              <div class="panel-title">
                <h1>Edit <%= resource_name.to_s.humanize %></h1>
              </div>
            </div>
            <div class="panel-body">
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
                <%= devise_error_messages! %>

                <div class="form-group">
                  <%= f.label :username %>
                  <%= f.text_field :username, class: "form-control", :autofocus => true %>
                </div>

                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: "form-control", :autofocus => true %>
                </div>

                <% if current_user.provider.blank? %>
                  <div class="form-group">
                    <%= f.label :password, "Change Password" %>
                    <%= f.password_field :password, class: "form-control", :autocomplete => "off", placeholder: "(leave blank if you don't want to change it)" %>
                  </div>
                <% else %>
                  <% unless current_user.fb_verified? %>
                  <span class="glyphicon glyphicon-ok"></span> <span>Facebook Connect</span>
                  <% end %>
                <% end %>

            </div>
            <div class="panel-footer">

                <div class="form-group">
                  <%= f.submit "Update", class: "btn btn-primary" %>
                </div>

              <%= link_to "Back", :back %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>