<% title "Discussions" %>

<div class="col-xs-3 cover-img"></div>

<div style="margin-bottom: 100px;" id="discussions">

  <div class="row" style="background: #f8f8f8; height: 300px;">
    <div class="container">
      <div class="row" style="margin-top: 50px;">
        <div class="col-xs-5">
          <h2>Discussions</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque elementum dolor, nec convallis turpis volutpat ac. Praesent lorem eros, dignissim luctus lacus in.</p>
          <%= link_to new_discussion_path, class: "btn btn-success" do %>
            <span class="glyphicon glyphicon-book"></span><span style="margin-left: 10px">Start Discussion</span>
          <% end %>
        </div>

        <div class="col-xs-3">
        </div>
        
        <div class="col-xs-4">
          <form class="navbar-form navbar-left pull-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 50px;">
    <div class="col-xs-3 text-center">
      <div class="btn-group">
        <a href="#thumb" data-toggle="tab" class="btn btn-default">
          <span class="glyphicon glyphicon-th"></span></a>
        <a href="#list" data-toggle="tab" class="btn btn-default">
          <span class="glyphicon glyphicon-th-list"></span></a>
      </div>
    </div>

    <div class="col-xs-1"></div>

    <div class="col-xs-7">
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="thumb">
          <div class="projects transitions-enabled" id="project-cards">
            <%= render @discussions %>
          </div>
        </div>

        <div class="tab-pane fade active in" id="list">          
          <table class="table discussions-table">
            <thead>
              <tr>
                <th>JOIN DISCUSSION</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @discussions.each do |discussion| %>
              <tr>
                <td>
                  <h2><%= link_to discussion.title, discussion %></h2>
                  <div class="discussion-stats" id="tooltip">
                    <span class="glyphicon glyphicon-pushpin" data-placement="bottom" rel="tooltip" title="Ideas & Inspirations"></span><span><%= discussion.inspirations.count %></span>
                    <span class="glyphicon glyphicon-comment" data-placement="bottom" rel="tooltip" title="Comments"></span><span><%= discussion.comments.count %></span>
                    <span class="glyphicon glyphicon-eye-open" data-placement="bottom" rel="tooltip" title="Views"></span><span><%= discussion.impressionist_count %></span>
                  </div>
                </td>
                <td>
                  <% if user_signed_in? %>
                    <% if current_user == discussion.user %>
                      <%= link_to 'Edit', edit_discussion_path(discussion) %> | <%= link_to 'Delete', discussion, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xs-2"></div>
  </div>

</div>