<% title @discussion.title %>

<body style="background: #f8f8f8;">

<div class="discussion-page">

  <div class="container">
    <div class="panel panel-default">
      <ol class="breadcrumb">
        <li><%= link_to "Discussions", discussions_path %></li>
        <li></li>
      </ol>

      <div class="panel-body">
        <div class="col-sm-4">
          <%= image_tag(@discussion.cover.url(:thumb), width: "100%") %>
        </div>
        <div class="col-sm-8">
          <% if user_signed_in? %>    
            <% if current_user == @discussion.user || current_user.superadmin? %>
              <%= link_to edit_discussion_path(@discussion) do %>
                <div class="project-icon-right">
                  <span class="glyphicon glyphicon-edit glyphicon-project"></span>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <h1 class="discussion-title" style="margin-top: 0px;"><%= @discussion.title %></h1>
          <p><%= @discussion.description %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container bubble">
    <div class="panel panel-default" style="margin-bottom: 0px;">
      <div class="panel-heading">Brainstorm!</div>
      
      <div class="panel-body">
        <div class="row">

          <div class="col-sm-8">
            <table class="table">
              <thead>
                <tr>
                  <th><h4>IDEAS & INSPIRATIONS</h4></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <div class="text-center" style="padding: 20px;">
                      <% if user_signed_in? %>
                        <button class="btn btn-info" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-pushpin"></span> Share Ideas & Inspirations</button>
                      <% else %>
                        <%= link_to new_user_session_path, class: "btn btn-sm btn-info" do %>Login to Share & Vote for Ideas<% end %>
                      <% end %>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

              <%= render @inspirations.reverse %>
            
          </div>
          
          <div class="col-sm-4">
            <table class="table">
            <thead>
              <tr>
                <th></th>
                <th><h4>COMMENTS</h4></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% if user_signed_in? %>
                <%= form_for([@discussion, @comment]) do |f|%>
                  <tr>
                    <td>
                      <%= link_to image_tag(current_user.avatar.url(:thumb), width: "30"), current_user, :rel => "tooltip", :data => { :delay => 20, :title => current_user.first_name, :placement => "left" } %></td>
                    <td><%= f.text_area :comment, class: "form-control", rows: "2", :placeholder => "Write a comment..." %></p>
                    <td style="padding: 8px 0px; width: 35px;">
                      <button name="commit" type="submit" class="btn btn-sm btn-info">
                        <span class="glyphicon glyphicon-comment"></span>
                      </button>
                    </td>
                  <tr>
                <% end %>
              <% else %>
                  <tr>
                    <td></td>
                    <td><%= link_to new_user_session_path, class: "btn btn-sm btn-info" do %>Login to Comment<% end %></td>
                    <td style="width: 35px;"></td>
              <% end %>
              <%= render @comments.reverse %>
            </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel">Contribute Idea / Inspiration</h3>
          to <%= link_to @discussion.title, @discussion %>
        </div>
        <%= render 'inspirations/form' %>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>