<%= form_for([@project, @status]) do |f| %>
	<% if @status.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

	    <ul>
	    <% @status.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<div class="form-group">
	  <%= f.text_area :description, class: "form-control", rows: "3", 
	  placeholder: "What's the latest news?" %>
	</div>

	<%= f.submit "New Status", class: "btn btn-primary" %>

<% end %>