<div class="col-sm-3 project-box" style="margin-left: 5%; width: 30%; min-height: 150px;">
  <!--<div class="project-icon-right">
    <span class="glyphicon glyphicon-tasks glyphicon-project"></span>
  </div>-->

  <div class="project-box-content">
    <h3 class="stat" id="followers"><%= @project.followers.count %> / 10  </h3>
    <p><strong>followers</strong></p>
    <div class="progress">
      <div id="followersprogress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= number_with_precision(((@project.followers.count.to_f / 10) * 100), :precision => 0) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= number_to_percentage((@project.followers.count.to_f / 10 * 100), :precision => 2) %>;">
        <span class="sr-only">40% Complete (success)</span>
      </div>
    </div>
    <p class="text-muted" style="line-height: 1em;"><small>Project owner has not made this 
      project available to contribute.
      You could Follow the Project to show 
      Support or Spread the word about this 
      project!</small> </p>
  </div>

  <div class="panel-footer">
    <% @user ||= current_user %>
    <div class="stats text-center">
      <a href="<%= followers_project_path(@project) %>">
      </a>
      <% unless user_signed_in? %>
        <%= link_to "Log In to Follow Project", new_user_session_path, class: "btn btn-primary" %>
      <% end %>
    </div>
      <%= render 'follow_form' if signed_in? %>
      <% if current_user == @project.user %>
      You are Project Owner
        <%= link_to edit_project_path(@project), class: "btn btn-default" do %>
        Edit Project
        <% end %>
      <% end %>
  </div>
</div>