<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading" id="project">
      ACTION
      <span class="pull-right">
        <%= link_to "#", :rel => "tooltip", :data => { :delay => 20, :title => "Action Card: Here is a list of action steps you could take to help make the project happen.", :placement => "top" } do %>?<% end %>
      </span>
    </div>

    <table class="table">
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <% if user_signed_in? %>
              <% if current_user.voted_up_on?(@project) %>
                <%= render "projects/unfollow" %>
              <% else %>
                <%= render "projects/follow" %>
              <% end %>
            <% else %>
              <%= link_to follow_project_path(@project, method: :get) do %>
                <button class="btn btn-success">Follow Project</button>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if user_signed_in? %>
              <% if current_user.voted_up_on?(@project) %>
                <%= render "projects/checkbox" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>