<div class="project-card">
	<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash2/843908_527145123975229_494407850_o.jpg" width="100%" style="min-height: 200px;">
	<div class="project-info">
		<div class="project-title">
			<%= link_to(project) do %><h4><strong><%= project.title %></strong></h4></a><% end %>
		</div>
		<div class="author">
			<div class="user-avatar pull-left">
				<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash2/843908_527145123975229_494407850_o.jpg" height="50">
			</div>
			<div class="author-name">
				<h4><%= project.user.first_name %> <%= project.user.last_name %></h4>
				<p><%= project.user.first_name %> <%= project.user.last_name %></p>
			</div>
		</div>
	</div>
</div>