<div class="project-card">
	<%= link_to(project) do %><%= image_tag project.thumbnail.url(:medium), width: "100%" %><% end %>
	<div class="project-info">
		<div class="project-title">
			<%= link_to(project) do %><h5><%= project.title %></h5></a><% end %>
		</div>
		<% if current_page?(projects_path) %>
		<hr>
			<p><small>in <%= project.city_list.map { |t| link_to t, tag_path(t) }.join(', ').html_safe %></small></p>
		<% end %>
	</div>
	<div class="project-stats" id="tooltip">
		<span class="glyphicon glyphicon-user" data-placement="bottom" rel="tooltip" title="Followers"></span><span><%= project.followers.count %></span>
		<span class="glyphicon glyphicon-eye-open" data-placement="bottom" rel="tooltip" title="Views"></span><span><%= project.impressionist_count %></span>
	</div>
</div>