<div class="project-cover">
</div>

<div class="project-page">
  <%= form_for(@project) do |f| %>
  <div class="container">
    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
      <div class="col-sm-8" style="width: 60%; padding-left: 0px;">
  		  <% if @project.errors.any? %>
  		    <div id="error_explanation">
  		      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

  		      <ul>
  		      <% @project.errors.full_messages.each do |msg| %>
  		        <li><%= msg %></li>
  		      <% end %>
  		      </ul>
  		    </div>
  		  <% end %>

        <div class="form-group">
  		    <%= f.label :title %>
  		    <%= f.text_field :title, class: "form-control" %>
  		  </div>
        <div class="form-group">
          <%= f.label :tag_list %>
          <%= f.text_field :tag_list, class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-4" style="width: 20%; margin-left: 10%; padding: 0px; margin-top: 37px;">
        <div class="form-group">
          <%= f.label :published, "Publish?" %>
          <%= f.check_box :published %>
        </div>
			<div class="form-group">
				<%= f.submit class: "btn btn-lg btn-primary" %>
			</div>
			<%= link_to 'Show', @project %> |
			<%= link_to 'Back', @project %>
      </div>
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class="col-sm-8 project-box" style="width: 65%; min-height: 800px;">
		<div class="project-icon-right">
			<span class="glyphicon glyphicon-edit glyphicon-project"></span>
		</div>
          <div class="form-group project-box-content" id="wysihtml5">
		    <%= f.label :description %>
		    <%= f.text_area :description, class: "form-control wysihtml5", rows: "10" %>
		  </div>

        <div class="project-icon-right">
          <span class="glyphicon glyphicon-user glyphicon-project"></span>
        </div>
        <div style="min-height: 300px; padding: 10px 20px; width: 100%;">

        </div>
      </button>
      </div>

      <%= render 'projects/action_card' %>
      <%= render 'projects/stakeholder_card' %>
      <div class="col-sm-3 project-box" style="margin-left: 5%; width: 30%; margin-top: 20px;">
        <div class="project-box-content">
          <%= image_tag @project.thumbnail.url(:medium), width: "100%" %>
          <div class="form-group">
            <%= f.label "Thumbnail image" %>
            <%= f.file_field :thumbnail %>
            <p class="help-block"><small>Ideal size: 560px x 400px, JPG/PNG/GIF no larger than 5mb</small></p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <% end %>
</div>