<div style="margin: 50px 0px;" id="projects">

  <div class="container">
    <div class="col-xs-4">
      <h2>Featured Projects <br><small>in Kuala Lumpur, Malaysia</small></h2>
    </div>

    <div class="col-xs-4">
      <div class="btn-toolbar" role="toolbar" style="margin-top: 48px; padding-left: 100px;">
        <div class="btn-group">
          <a href="#thumb" data-toggle="tab" class="btn btn-default">
            <span class="glyphicon glyphicon-th"></span></a>
          <a href="#list" data-toggle="tab" class="btn btn-default">
            <span class="glyphicon glyphicon-th-list"></span></a>
        </div>
      </div>
    </div>
    
    <div class="col-xs-4">
      <form class="navbar-form navbar-left pull-right" role="search" style="margin-top: 48px;">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
  </div>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="thumb">
      <div class="container">
        <div class="row projects">
          <%= render @projects %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="list">
      <div class="container">
        <div class="col-sm-12">
          <table class="table table-hover projects-table">
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th></th>
              <th></th>
            </tr>

          <% @projects.each do |project| %>
            <tr>
              <td class="col-xs-5"><%= link_to(project) do %><h4><strong><%= project.title %></strong></h4></a><% end %></td>
              <td><%= truncate(project.description, :omission => "... (continued)", :length => 200).html_safe %></td>
              <td><% if current_user == project.user || current_user.superadmin?  %>
                <%= link_to 'Edit', edit_project_path(project) %><% end %></td>
              <td><% if current_user == project.user || current_user.superadmin?  %>
                <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
            </tr>
          <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!--
  <div class="container" id="tag_cloud">
    <% tag_cloud Project.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>-->

  <div class="container text-center">
    <%= link_to 'Create Project', new_project_path, class: "btn btn-lg btn-success" %>
  </div>

</div>