<% title @project.title %>

<% content_for :head do %>
  <%= tag :meta, property: "og:title", content: @project.title %>
  <%= tag :meta, property: "og:url", content: project_url(@project) %>
  <%= tag :meta, property: "og:image", content: image_path(@project.thumbnail.url(:medium)) %>
<% end %>

<div class="project-page" id="project">
  <div class="container">
    <div class="row" style="margin-top: 150px; margin-bottom: 20px;">

      <div class="col-sm-8" style="padding-left: 0px;">
        <h1 style="font-weight: 700; font-family: 'Arial'; font-size: 2em;"><%= @project.title %></h1>
        <%= link_to 'Back', :back %>
        <p class="project-category">in <%= @project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ').html_safe %></p>
      </div>

      <div class="col-sm-2" style="margin-left: 20px; padding: 0px;">
        <% if user_signed_in? %>
          <% if current_user == @project.user || current_user.superadmin? %>
           <p>You are Project Owner</p>
           <%= link_to edit_project_path(@project), class: "btn btn-sm btn-info" do %>
            <span class="glyphicon glyphicon-edit"></span> Edit Project
           <% end %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="container">
      <%= render 'projects/description_card' %>
      
      <%= render 'projects/need_card' %>
      <%= render 'projects/action_card' %>
      <%= render 'projects/stakeholder_card' %>
      <%= render 'projects/thumbnail_card' %>
    </div>
  </div>
  
</div>