<div class="project-cover">
</div>

<div class="project-page">
  <div class="container">
    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
      <div class="col-sm-8" style="width: 70%; padding-left: 0px;">
        <h1 style="font-weight: 700; color: white; font-family: 'Arial';"><%= @project.title %></h1>
        <p style="color: white;">in <strong>Public Spaces</strong></p>
      </div>
      <div class="col-sm-4" style="width: 20%; margin-left: 0%; padding: 0px; margin-top: 37px;">
        <% if current_user == @project.user %>
         <p style="color:white;">You are Project Owner</p>
         <%= link_to edit_project_path(@project), class: "btn btn-default" do %>
          Edit Project
         <% end %>
        <% end %>
      </div>
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class="col-sm-8 project-box" style="width: 65%; min-height: 800px;">
        
        <%= render 'projects/description_card' %>

        <div class="project-icon-right">
          <span class="glyphicon glyphicon-user glyphicon-project"></span>
        </div>
        <div style="min-height: 300px; padding: 10px 20px; width: 100%;">

        </div>
      </button>
      </div>

      <%= render 'projects/action_card' %>
      <%= render 'projects/stakeholder_card' %>
      <%= render 'projects/thumbnail_card' %>

    </div>
  </div>
</div>