<% title "Log In" %>

<div class="blur-background" id="pages">
	<div class="container">

		<div class="col-sm-5 col-sm-offset-6">
			<div class="panel panel-default login-signup-box">
			  <div class="panel-heading">
			    <div class="panel-title">
			      <h1>Log In</h1>
			    </div>
			  </div>

			  <div class="panel-body login-signup-form">
			  	<div style="margin: 20px 20%;">
			  		<%= link_to image_tag("/assets/graphics/fb-login.png", :width => '200px'), user_omniauth_authorize_path(:facebook) %>
			  	</div>

			  	<div class="separator">
			  		<p>or</p>
			  	</div>

			  	<div>
				    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

				      <div class="form-group col-sm-12">
				        <%= f.email_field :email, class: "form-control", :autofocus => true, placeholder: "E-mail" %>
				      </div>

				      <div class="form-group col-sm-12">
				        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
				      </div>

				      <div class="form-group col-sm-12">
				      	<%= f.submit "Sign in", class: "btn btn-primary pull-left" %>
				        <div class="checkbox pull-right">
				          <%= f.check_box :remember_me %>
				          <%= f.label :remember_me %>
				        </div>
				      </div>

				    <% end %>
				</div>
			  </div>
			  <div class="panel-footer text-center">
			   	 <%= render "devise/shared/links" %>
			  </div>
			</div>
		</div>
	</div>
</div>