<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %><img src="/assets/brick.svg" height="20"> CrowdCities<% end %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!--
         <li><%= link_to "PROJECTS", projects_path %></li>
         <li><%= link_to "DISCUSSIONS", discussions_path %></li>
       -->
          <li><%= link_to "NEIGHBOURHOODS", neighbourhoods_path %></li>
      </ul>
    	<ul class="nav navbar-nav navbar-right col-sm-4">
	        <% if user_signed_in? %>
            <div style="text-align:left; padding-top: 5px;">
              <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration: none; color: black;"><%= image_tag current_user.avatar.url(:thumb), width: "40", class: "img-rounded" %>
                <span class="caret" style="margin-top: 0px;"></span></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <li role="presentation" class="dropdown-header"><%= current_user.first_name %> <%= current_user.last_name %></li>
                    <li><%= link_to "View Profile", current_user %></li>
                    <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
                  </ul>
              </div>
            </div>

	        <% else %>
	          <li><%= link_to "Log In", new_user_session_path %></li>
	          <li><%= link_to "Sign Up", new_user_registration_path %></li>
	        <% end %>
	    </ul>
    </div>
  </div>
</div>