<!DOCTYPE html>
<html>
<head>
  <title>CrowdCities</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
		<%= render 'layouts/header' %>
	<% else %>
		<% unless current_page?(root_path) %>
			<%= render 'layouts/header' %>
		<% end %>
	<% end %>

	<% if user_signed_in? %>
	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info", id: "flash-message") %>
		<% end %>
	</div>
	<% end %>
	<%= yield %>

</body>
  <%= javascript_include_tag "application" %>
</html>
