<!DOCTYPE html>
<html>
<head>
  <title>CrowdCities</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %><%= render 'layouts/header' %><% end %>
	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info", id: "flash-message") %>
		<% end %>
	</div>
		<%= yield %>

</body>
  <%= javascript_include_tag "application" %>
</html>
